<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.donottouch.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".P001onSaveInstanceState"></activity>

        <activity android:name=".P002Map"></activity>

        <activity android:name=".P003onConfigurationChanged"
            android:configChanges="orientation|screenSize"
        />

        <activity android:name=".P004setOnClickListenerObject" />

        <activity android:name=".P005ObjectOvverideTosetOnClickListener"/>

        <activity android:name=".P006addTextChangeListener"></activity>

        <activity android:name=".P009FacabookDizayn"></activity>

        <activity android:name=".P011PutButtonOnSnackbar"></activity>

        <activity android:name=".P012SetDataToParcelable"></activity>
        <activity android:name=".P012GetDataFromParcelable"></activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>


</manifest>
